<div class="register-container">
	<form method="post">
		<div class="form-group">
			<div class="cols-sm-10">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
					<input type="text" class="form-control" name="displayName" id="displayName" placeholder="Display Name"
						   ng-model="$ctrl.registerService.user.profile.firstName"
						   maxlength="15"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="cols-sm-10">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-users fa-fw" aria-hidden="true"></i></span>
					<input type="text" class="form-control" name="username" id="username" placeholder="Username"
						   ng-model="$ctrl.registerService.user.credentials.userLogin"
						   maxlength="15"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="cols-sm-10">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-lock fa-fw" aria-hidden="true"></i></span>
					<input type="password" class="form-control" name="password" id="password" placeholder="Password"
						   ng-model="$ctrl.registerService.user.credentials.password"
						   maxlength="15"/>
				</div>
			</div>
		</div>
		<div class="form-group ">
			<a type="button" id="button" class="btn btn-primary btn-lg login-button btn-block" ui-sref="userCreation">Register</a>
		</div>
	</form>
</div>