.article-panel {
    height: auto;
    width: calc(100vw - 300px);

    min-height: calc(100vh - 20px);

    margin: 10px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-image: url("../img/speckledBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.article {
    height: auto;
    width: 95%;

    margin-top: 10px;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;

    /* border: 1px solid rgba(0, 0, 0, 0.616); */
}

.article-header {
    height: 80px;
    width: 100%;
    
    padding-bottom: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-title {
    height: 100%;
    width: auto;

    padding-top: 3px;
    padding-left: 5px;

    font-size: 25px;
    font-weight: bold;
    
    display: flex;
    flex-direction: column;
}

.article-date {
    height: 100%;
    width: auto;
    
    font-size: 18px;
    color: rgb(66, 65, 65);
    font-weight: normal;

    display: flex;
    align-items: center;
}

.article-buttons {
    height: 100%;
    width: 225px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.article-button {
    height: 45px;
    width: 45px;

    cursor: pointer;
}

.article-edit {
    background-image: url("../img/icons/Edit.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.article-up {
    background-image: url("../img/icons/Chevron Up Circle.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.article-down {
    background-image: url("../img/icons/Chevron Down Circle.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.article-deactivate {
    background-image: url("../img/icons/Close.svg");
    /* background-image: url("../img/icons/Plus.svg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.article-delete {
    background-image: url("../img/icons/Trash.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.article-synopsis {
    height: auto;
    min-height: calc(100vh - 125px);
    width: 100%;

    padding: 10px;

    background: rgba(255, 255, 255, 0.514);
    border: 1px rgba(71, 71, 71, 0.699) dotted;
    /* border-radius: 8px; */
}