.header {
    width: 250px;
    height: 100%;

    display: flex;

    align-items: top;
    justify-content: center;
    margin: 0;

    top: -1px;
    position: fixed;
}

.logo-background {
    height: 260px;
    width: 250px;

    background: radial-gradient(rgba(231, 221, 221, 0.671), rgba(177, 169, 169, 0.205), rgba(255, 230, 230, 0),rgba(255, 230, 230, 0));
}

.logo {
    height: 250px;
    width: 250px;

    margin: 5px 0px;
    
    background-image: url("/img/whiskeyWisdomLogo.png");
    background-size: 250px;
    background-repeat: none;
}

.iframe {
    height: calc(100% - 275px);
    width: 250px;

    top: 260px;
    position: fixed;
    border-radius: 5px;
}