.list-panel {
    width: 90%;
    min-width: 800px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.episode-entry {
    height: 150px;
    width: 100%;
    min-width: 800px;

    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid black;

    background-color: rgb(41, 18, 9);
}

.episode-header {
    height: 30px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: white;
}

.episode-title {
    height: 100%;
    width: 400px;
}

.episode-buttons {
    height: 100%;
    width: 200px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    background-color: rgba(248, 241, 241, 0.082);
}

.episode-button {
    height: 25px;
    width: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: black;
}

.episode-synopsis {
    height: 110px;
    width: 90%;

    border: 1px solid black;

    background: white;
}
