.list-panel {
    height: auto;
    width: calc(100vw - 300px);
    
    min-width: 620px;
    min-height: calc(100vh - 20px);

    margin: 10px 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    background: rgba(32, 17, 8, 0.616);
    border-radius: 5px;
}

.list-entry {
    height: 150px;
    min-height: 150px;
    width: 95%;

    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid black;

    background: linear-gradient(rgb(41, 38, 37), black, black, black);
}

.entry-synopsis {
    height: 115px;
    width: 100%;

    background: linear-gradient(white, rgb(175, 174, 174));

    cursor: pointer;
}
