.login-panel {
    min-width: calc(100vw - 300px);
    min-height: calc(100vh - 20px);
    
    margin: 10px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-box {
    padding: 15px;
    padding-bottom: 3px;

    background: rgba(32, 17, 8, 0.616);
    border-radius: 5px;
}