.login-panel {
    min-width: calc(100vw - 300px);
    min-height: calc(100vh - 20px);
    
    margin: 10px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-box {
    padding: 15px;
    padding-bottom: 3px;

    background-image: url("../img/speckledBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}