.new-post-panel {
    height: auto;
    width: calc(100vw - 300px);

    min-height: calc(100vh - 20px);

    margin: 10px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-image: url("../img/speckledBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.new-post-editor {
    background: white;

    height: 90vh;
    width: calc(100vw - 330px);
}

[ng-quill-editor] { 
    display: block;
    
}

.ql-toolbar {
    height: 70px;
}

.ql-container {
    height: calc(90vh - 70px);
}

.submit-options {
    width: calc(100vw - 330px);
    align-items: center;
    justify-content: left;

    background: white;
    display: flex;
    flex-direction: row;

}

.display-checkbox, .save {
    margin: 10px;
}

ng-quill-editor.ng-invalid .ql-container {
    border: 1px dashed red;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14"]::before {
    content: '14';
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16"]::before {
    content: '16';
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18"]::before {
    content: '18';
}