.new-post-panel {
    height: 100%;
    width: 100%;

    /*min-height: calc(100vh - 20px);*/

    margin: 10px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: none;
    
    background: rgba(32, 17, 8, 0.616);
    border-radius: 5px; 
}

.new-post-editor {
    background: white;

    height: 100%;
    width: 100%;
}

[ng-quill-editor] { 
    display: block;
    
}

.ql-toolbar {
    /*height: 70px;*/
}

.ql-container {
    height: calc(90vh - 70px);
}

.submit-options {
    width: calc(100vw - 330px);
    align-items: center;
    justify-content: left;

    background: white;
    display: flex;
    flex-direction: row;

}

.display-checkbox, .save {
    margin: 10px;
}