.new-post-panel {
    height: auto;
    width: calc(100vw - 300px);

    min-height: calc(100vh - 20px);

    margin: 10px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: rgba(32, 17, 8, 0.616);
    border-radius: 5px; 
}

.new-post-editor {
    background: white;

    height: 90vh;
    width: calc(100vw - 330px);
}

[ng-quill-editor] { 
    display: block; 
}

ng-quill-editor.ng-invalid .ql-container {
    border: 1px dashed red;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14"]::before {
    content: '14';
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16"]::before {
    content: '16';
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18"]::before {
    content: '18';
}