.session-panel {
    height: auto;
    width: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.center-column {
    width: 90vw;

    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    margin-bottom: 30px;
}


.content-buffer {
    width: 2.5%;
    display: flex;
    flex: 1 1 auto;
}

.content-panel {
    flex: 9 1 auto;
    display: flex;

    /* min-width: 620px; */

    justify-content: center;
    align-items: center;

    /* left: 22vw; */
    /* background: rgb(234, 232, 255); */
    border-radius: 5px;
}