.session-panel {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    overflow-y: scroll;
}

.center-column {
    height: calc(100vh - 30px);
    width: calc(100% - 30px);

    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    top: 1px; 
    position: static;
}


.content-buffer {
    height: 100%;
    width: 20px;
}

.content-panel {
    height: 100%;
    width: calc(100vw - 270px);
    display: flex;

    justify-content: center;
    align-items: center;

    /* left: 22vw; */
    /* background: rgb(234, 232, 255); */
    border-radius: 5px;
}