.session-panel {
    height: auto;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.center-column {
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 90vw;
}

.iframe {
    flex: 1 1 auto;
    height: 95%;
}

.g-background-default {
    background-color: red;
}

.content-panel {
    display: flex;
    flex: 3 1 auto;

    min-width: 620px;

    justify-content: center;
    align-items: center;

    background: rgba(75, 65, 65, 0.822);
    border-radius: 10px;
}